/* Blocks */

:root {
  --primary-color: #9EE493;
  --secondary-color: #DAF7DC;
}

html, body, div[id="root"] {
  height: 100vh;
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  font-size: 1rem;
}

/* Elements */

.App {
  height: 100vh;
  width: 100vw;
}

.Beacon button {
  display: block;
  outline: none;
  background-color: var(--secondary-color);
  border: 5px solid var(--primary-color);  
  border-radius: 50%;
}


/* Modifiers */
.bg-primary {
  background-color: var(--primary-color) !important;
}
.btn-primary {
  background-color: var(--primary-color) !important;
  border: none;
}
.btn-secondary { 
  background-color: var(--secondary-color) !important;
  border: none;
}

.error {
  border: 2px solid var(--accent-color);
  background-color: var(--accent-color);
  color: white;
  box-shadow: none;
}

.error-suggestion {
  border: 3px solid var(--accent-color);
  color: var(--accent-color);
  box-shadow: none;
}

.meditate {
  animation-name: meditate;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-delay: 0s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
} 

.overflow-x-scroll {
  overflow-x: scroll;
}

.text-primary {
  color: var(--primary-color) !important;
}

.text-danger {
  color: var(--accent-color) !important;
}

/* Animation */
@keyframes meditate {
  33% { transform: scale(1, 1); }
  66% { transform: scale(1.5, 1.5); }
  100% { transform: scale(1, 1); }
}

/* 
  Media Queries 
  @media screen and (min-width: 0px) and (max-width: 576px) {
    :root { font-size: 0.75rem; }
  }

  @media screen and (min-width: 577px) and (max-width: 768px) {
    :root { font-size: 0.88rem; }
  }

  @media screen and (min-width: 769px) and (max-width: 1365px) {
    :root { font-size: 0.88rem; }
  }

  @media screen and (min-width: 1366px) {
    :root { font-size: 0.88rem; }
  }


  @media screen and (min-height: 0px) and (max-height: 300px) and (min-width: 1366px) {
    :root { font-size: 0.5rem; }
  }

  @media screen and (min-height: 301px) and (max-height: 600px) and (min-width: 1366px) {
    :root { font-size: 0.75rem; }
  }
*/
